body{

margin:0;

font-family:Arial;

background:#eef2f7;

}


.app{

max-width:420px;

margin:auto;

padding:20px;

}



header{

display:flex;

justify-content:space-between;

}



.theme{

width:50px;

border-radius:50%;

}



input{

width:100%;

padding:15px;

border-radius:12px;

border:1px solid #ccc;

box-sizing:border-box;

}



button{

border:0;

padding:15px;

border-radius:14px;

margin-top:10px;

width:100%;

font-size:16px;

transition:.2s;

}



button:active{

transform:scale(.92);

}



.btn{

background:#2563eb;

color:white;

}



.start{

background:#16a34a;

color:white;

}



.stop{

background:#dc2626;

color:white;

}



.employee{

background:white;

padding:18px;

margin-top:12px;

border-radius:18px;

box-shadow:0 4px 10px #ddd;

animation:show .3s;

}



.timer{

font-size:50px;

text-align:center;

margin:30px 0;

font-weight:bold;

}



.hide{

display:none;

}



.card{

background:white;

padding:15px;

border-radius:15px;

}




.dark{

background:#111;

color:white;

}


.dark .employee,

.dark .card{

background:#222;

color:white;

}




@keyframes show{

from{

transform:translateY(20px);

opacity:0;

}

to{

opacity:1;

}

}
